
.user-principal-div {
    background-color: #f9f9f9;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-title {
    font-size: 28px;
    color: rgb(67, 67, 67);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-subtitle{ 
    font-size: 18px;
    color: rgb(67, 67, 67);
    font-weight: 300;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 10px;
}

.user-form-control {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.user-form-control:focus {
    border-color: #000452;
    outline: none;
    box-shadow: 0 0 5px rgba(83, 90, 229, 0.5);
}

.user-form-control::placeholder{
    font-weight: 400;
    font-size: 13px;
}

.user-register-error{
    font-size: 15px;
    color: red; 
    font-weight: 500;
    margin-bottom: 10px;
}

.user-btn-register {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    flex: 1;
    margin: 0 5px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #535ae5;
    color: #fff;
}

.user-btn-register:hover {
    background-color: #3940d6;
    transform: scale(1.05);
}

.user-login-redirect{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
}

.user-login-redirect p{
    color: black;
    margin-right: 3px;
    font-size: 15px;
    font-weight: 200;
}

.user-login-redirect-link{
    margin-right: 10px;
    color: #535ae5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-weight: 400;
}




