
.classic-user {
    background-color: #f9f9f9;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-user {
    font-size: 30px;
    font-weight: bold;

    color: #333; 
}

.form-control {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.get-out{
    font-size: 10px;
}


.button-user-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.btn-user-register,
.btn-user-cancel {
    flex: 1;
    margin: 0 5px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-user-register {
    background-color: #535ae5;
    color: #fff;
}

.btn-user-register:hover {
    background-color: #4349d2;
    transform: scale(1.05);
}

.btn-user-cancel {
    background-color: #ff851b;
    color: #fff;
}

.btn-user-cancel:hover {
    background-color: #e6761d;
    transform: scale(1.05);
}
