# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


TGR002_CD_EMP;TGR002_RAZSOC;TGR002_NOMFAM;TGR002_ENDER;TGR002_BAIRRO;TGR002_MUNIC;TGR002_CEP;TGR001_CD_UFD;TGR002_CNPJ;TGR002_INSCR_EST;TGR002_INSCR_MUN;TGR002_TELEF;TGR002_FAX;TGR002_EMAIL;TGR002_OBS;TGR002_FLG;NRO_REL_SOC;TGR002_NR_CUPOM
GREGO COMERCIAL FOGÕES LTDA;LOJA 0;AV.CELSO GARCIA, 710;BRAS;3014000;4;109.613.831.116;ISENTO;0011-2694.4605;gregocom@uol.com.br;7058;560580;OBS
GREGO COMERCIAL FOGÕES LTDA;LOJA 2;AV.CELSO GARCIA, 720;BRAS;3014000;5;109.613.831.116;ISENTO;0011-2694.4605;gregocom@uol.com.br;7058;40920;OBS
GR2 COMERCIAL FOGÕES LTDA;GR2 COMERCIAL;RUA FIRMIANO PINTO, 34;BRAS;3052070;6;138.572.396.110;ISENTO;0011-2694.4605;gregocom@uol.com.br;367;0;OBS


