.fornec2-principal-div{
    background-color: #ebe7e7;
    margin-top: 500px;
    width: 800px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fornec2-titulo {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}

.fornec2-form {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 5px;
    margin-left: 35px;
    margin-bottom: 1px;
}

.fornec2-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.fornec2-label{
    color: #3f3f3f;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.fornec2-form-control {
    width: 300px;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.fornec2-form-control-select{
    margin-top: 22px;
    width: 300px;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.fornec2-form-control-obs{
    width: 700px;
    height: 70px;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.fornec2-form-control:focus {
    border-color: #11ff6c;
    box-shadow: 0 0 8px rgba(83, 90, 229, 0.2);
    outline: none;
}



.fornec2-button-group {
    grid-column: span 2; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.fornec2-btn-register,
.fornec2-btn-cancel {
    flex: 1;
    margin: 0 10px; 
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.fornec2-btn-register {
    background-color: #007015;
    color: #fff;
}

.fornec2-btn-register:hover {
    background-color: #00b825;
    transform: scale(1.04);
}

.fornec2-btn-cancel {
    background-color: #fe0000;
    color: #fff;
}

.fornec2-btn-cancel:hover {
    background-color: #b40000;
    transform: scale(1.04);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .fornec2-form {
        grid-template-columns: 1fr; /* Stacks elements on small screens */
    }

    .fornec2-loja2 {
        width: 95%; /* More compact on mobile */
        padding: 20px;
    }

    .fornec2-button-group {
        flex-direction: column; /* Buttons stack vertically */
    }

    .fornec2-btn-register,
    .fornec2-btn-cancel {
        margin: 5px 0; /* Adjust margin for stacked buttons */
    }
}
