.emp-principal-div{ 
    background-color: #f9f9f9;
    width: 800px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emp-titulo {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}

.emp-form{
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    margin-left: 35px;
    margin-bottom: 1px;
}

.emp-form-group{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.emp-form-control{
    width: 300px;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.emp-label{
    color: #3f3f3f;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.emp-form-control-obs {
    width: 700px;
    height: 70px;
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;


}

.emp-form-control:focus {
    border-color: #535ae5;
    box-shadow: 0 0 8px rgba(83, 90, 229, 0.2);
    outline: none;
}

.emp-form-control-obs:focus{
    border-color: #535ae5;
    box-shadow: 0 0 8px rgba(83, 90, 229, 0.2);
    outline: none;
}


.button-emp-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.btn-emp-register,
.btn-emp-cancel {
    flex: 1;
    margin: 0 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-emp-register {
    background-color: #535ae5;
    color: #fff;
    margin-right: 40px;
}

.btn-emp-register:hover {
    background-color: #4349d2;
    transform: scale(1.05);
}

.btn-emp-cancel {
    background-color: #ff851b;
    color: #fff;
}

.btn-emp-cancel:hover {
    background-color: #e6761d;
    transform: scale(1.05);
}
